.popup__close-button {
    margin: 0;
    padding: 0;
    background-image: url("../../../images/сlose_button.svg");
    border: none;
    width: 32px;
    height: 32px;
    background-size: 32px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: -40px;
    right: -40px;
    transition: opacity 0.5s ease;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 685px) {
    .popup__close-button  {
        width: 20px;
        height: 20px;
        background-size: 20px;
        top: -36px;
        right: 0;
    }
}