.profile__title {
    margin: 0;
    max-width: 88%;
    min-height: 47px;
    color: #fff;
    font-size: 41px;
    line-height: 1.1;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 750px) {
    .profile__title  {
        max-width: 87%;
        font-size: 27px;
        line-height: 1.2;
        min-height: auto;
    }
}