.elements__like-button {
    margin: 4px 6px 0 0;
    padding: 0;
    background-image: url("../../../images/like_button.svg");
    background-repeat: no-repeat;
    border: none;
    width: 22px;
    height: 19px;
    background-color: #fff;
    transition: opacity 0.5s ease;
}

.elements__like-button:hover {
    opacity: 0.5;
    cursor: pointer;
}